<a href="https://colab.research.google.com/github/jmyoon7442/jmyoon7442/blob/main/240429.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown


> Heading


+ # Heading Level 1
To create the biggest heading, you use one hash symbol (#) followed by a space, and then your heading text.


+ ## Heading Level 2
 For a slightly smaller heading, use two hash symbols (##) followed by a space.

 중간 사이즈 헤딩은 해시 2개

+ ### Heading Level 3
 제일 작은 헤딩은 해시 3개  


> 줄바꿈 할 때는 윗줄 마지막에 스페이스 두 번


> **굵은 글씨**는 양옆으로 별 두개씩(** **)


> (>) 얘는 인용

## 표

|  English | Math | Art |
|---|---|---|
| A | A | C |
| B | B | C |

> 서울 현재시간 코드

In [1]:
# 1. Import the pytz module for timezone calculations
# datetime 모듈에서 datetime 클래스를 가져옵니다.
# 이 클래스는 날짜와 시간 정보를 다루는데 사용됩니다.

from datetime import datetime
import pytz


# 2. Define the timezone for Seoul
# 'Asia/Seoul' 시간대를 나타내는 pytz.timezone() 객체를 생성하여 seoul_timezone 변수에 할당합니다.

seoul_timezone = pytz.timezone('Asia/Seoul')


# 3. Get current time in Seoul's timezone
# datetime.now() 함수를 사용하여 현재 시간을 seoul_timezone 시간대로 가져옵니다.
# 이 값을 now_seoul 변수에 할당합니다.

now_seoul = datetime.now(seoul_timezone)


# 4. Format the time
# strftime() 메서드를 사용하여 현재 서울 시간을 지정된 형식에 맞추어 문자열로 변환합니다.
# 여기서 "%H:%M:%S"는 시간을 시:분:초 형식으로 표시하도록 지정한 것입니다.

current_time_seoul = now_seoul.strftime("%H:%M:%S")



# 5. Print the current time in Seoul
# 서울의 현재 시간을 출력합니다.
# 이 때 사용된 문자열은 "Current Time in Seoul:"이고, 그 뒤에는 위에서 변환한 current_time_seoul 문자열이 옵니다.

print("Current Time in Seoul:", current_time_seoul)

Current Time in Seoul: 18:36:50

In [4]:
# This is a comment line 해시태그는 코멘트를 남길 때 사용
print("Hello, Python!")  # 코드 사용할 때 사용

Hello, Python!

In [5]:
# This is a comment line <= This is a comment line
# Comments can be more than one line

print("Hello, Python!") # This is a code line
print('This is the output') # Comment can also be written this way.

Hello, Python!
This is the output

In [ ]:
x = 5  # x는 int 이고
y = "Hello, World!"  # y는 str(string/문자열)

print(x)
print(y)

In [13]:
# Cell 1: Creating Variables
name = "John Doe"   # str 문자열이다. 올바르게 문자열을 표기하려면 `name = "John Doe"`
age = 30
height = 5.9
is_student = False

subject = "English"

# Cell 2: Working with Variables
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Is a student: {is_student}")
print("Subject:", subject)

Name: John Doe
Age: 30
Height: 5.9 feet
Is a student: False
Subject: English